* {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  font-family: "Comic Sans MS";
}

.main h2{
  color: yellow;
  font-family: "Comic Sans MS", serif;
}

.container {
  min-width: 300px;
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto 20px 0;
  /*gap: 20px;*/
}

.activity-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  min-width: 400px;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009789;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table td,
.content-table th {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009789;
}

input[type="text"], input[type="number"], input[type="button"] {
  border-radius: 10px;
  padding: 12px 15px;
  border: 1px solid black;
}

input[type="button"], input[type="submit"] {
  border: none;
}

input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #009789;
  cursor: pointer;
}

a, a:visited, a:active {
  color: #323a40;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  font-weight: bold;
}

.btn-options {
  padding: 12px 15px;
  margin: 0 10px;
  background-color: #009789;
  color: #f3f3f3;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Times New Roman";
}

tr {
  text-align: center;
  vertical-align: middle;
}

.center-button {
  text-align: center;
}

.fonter {
  font-size: 24px;
  font-family: "Comic Sans MS", serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
