/** {
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
  font-family: "Comic Sans MS";
}*/

html{
  height: 100%;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 5px;
  font-family: "Comic Sans MS";
}

footer {
  height: 60px;
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
  border-radius:10px;

}

header {
  position: fixed;
  left: 5px;
  right: 5px;
  top: 5px;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
  border-radius:10px;
}

header *, footer * {
  display: inline;
}


header li, footer li {
  margin: 20px;
}
header li a, footer li a  {
  color: black;
  text-decoration: none;

}

.main-content{
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}

input[type="text"], input[type="number"], input[type="button"] {
  border-radius: 10px;
  padding: 12px 15px;
  border: 1px solid black;
}
