<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About us</title>
  <link rel="icon" type="image/png" href="/img/adventure.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styling.css">
</head>
<body id="body">

<div class="container-logo">
  <a href="index.html"> <img class="centerlogo" height="100px" src="/img/adventure.png" alt="adventure_logo"></a>
</div>


<div class="container">
  <div class="item1">
    <header class="header-height" id="header">
      <div class="container-header">
        <div class="item1-header">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="show-activities-customers.html">Activities</a></li>
            <li><a href="show-activities-customers.html">Price/Open hours</a></li>
            <li><a href="shop.html">Café/Shop</a></li>
            <li><a href="about-us.html">About us</a></li>
            <li><a href="login.html">Employee Login</a></li>
          </ul>
        </div>
      </div>
    </header>
  </div>


  <div class="item2">
    <div class="container-main-content">
      <div class="item-about-main-content">
        <h1>About us</h1>
        <p>Not much to tell, put more info here.</p>
      </div>
    </div>
  </div>

  <div class="item3">
    <footer class="footer-height" id="footer">
      <div class="container-footer">
        <div class="item-footer1">
          <ul>
            <br>
            <li>OPENING HOURS</li>
            <br>
            <li>Sunday - thursday 10:00-22:00</li>
            <li>Friday 10:00 – 0:00</li>
            <li>Saturday 10:00 – 0:00</li>
            <li></li>
          </ul>
        </div>
        <div class="item-footer2">
          <ul>
            <li>Contact Adventure Alley</li>
            <br>
            <li>Address: Industrivej 1</li>
            <li>9480 Løkken</li>
            <br>
            <li>Tlf. +45 70 40 43 25</li>
            <li>Email: info@actionhouse.dk</li>
          </ul>
        </div>
        <div class="item-footer3">
          <ul>
            <li><a href="#">Apply as sponsor</a></li>
            <li><a href="#">Registration for events</a></li>
            <li><a href="#">Privacy politics</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Job in Action House</a></li>
          </ul>
        </div>
        <div class="item-footer4">
          <ul>
            <li><a href="https://da-dk.facebook.com/" class="fa fa-facebook"></a></li>
            <li><a href="https://twitter.com/?lang=da" class="fa fa-twitter"></a></li>
            <li><a href="https://www.instagram.com/" class="fa fa-instagram"></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
<script src="../js/config.js"></script>
</body>
</html>
