<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link href="/img/adventure.png" rel="icon" type="image/png"/>
  <link href="/css/styling.css" rel="stylesheet">
</head>
<body id="body">

<div class="container-logo">
  <a href="index.html"> <img alt="adventure_logo" class="centerlogo" height="100px" src="/img/adventure.png"></a>
</div>


<div class="container">
  <div class="item1">
    <header class="header-height" id="header">
      <div class="container-header">
        <div class="item1-header">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="show-activities.html">Make a new Activities</a></li>
          </ul>
        </div>
      </div>
    </header>
  </div>


  <div class="item2">
    <div class="container-main-content">
      <div class="item-a-main-content">
        <a href="show-activities-customers.html"><img alt="gocart" class="container-image-img1"
                                                      src="/img/gocart.png"></a>
      </div>

      <div class="item-b-main-content">
        <a href="show-activities-customers.html"><img alt="lasertag" class="container-image-img2"
                                                      src="/img/lasertag.png"></a>
      </div>
      <div class="item-c-main-content">
        <a href="show-activities-customers.html"><img alt="sumo" class="container-image-img3" src="/img/sumo.png"></a>
      </div>

    </div>
  </div>

  <div class="item3">
    <footer class="footer-height" id="footer">
      <div class="container-footer">
        <div class="item-footer1">
          <ul>
            <br>
            <li>OPENING HOURS</li>
            <br>
            <li>Sunday - thursday 10:00-22:00</li>
            <li>Friday &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 10:00 –
              0:00
            </li>
            <li>Saturday &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 10:00 – 0:00</li>
            <!--            For at få tiden til at vises over hinanden hvis uening så slet det :) ^-->
            <li></li>
          </ul>
        </div>
        <div class="item-footer2">
          <ul>
            <li>Contact Adventure Alley</li>
            <br>
            <li>Address: <a href="https://www.google.com/maps/place/Industrivej+1,+9480+L%C3%B8kken">
              Industrivej 1, 9480 Løkken</a></li>
            <br>
            <li>Tlf. <a href="tel:+45 70 40 43 25">+45 70 40 43 25</a></li>
            <li>Email: <a href="mailto:info@actionhouse.dk">info@actionhouse.dk</a></li>
          </ul>
        </div>
        <div class="item-footer3">
          <ul>
            <li><a href="#">Apply as sponsor</a></li>
            <li><a href="#">Registration for events</a></li>
            <li><a href="#">Privacy politics</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Job in Action House</a></li>
          </ul>
        </div>
        <div class="item-footer4">
          <ul>
            <li><a class="fa fa-facebook" href="https://da-dk.facebook.com/"></a></li>
            <li><a class="fa fa-twitter" href="https://twitter.com/?lang=da"></a></li>
            <li><a class="fa fa-instagram" href="https://www.instagram.com/"></a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
<script src="../js/config.js"></script>
<script src="../js/update-activity.js"></script>
<script src="../js/show-activities.js"></script>
<script src="../js/delete-activity.js"></script>
</body>
</html>


