<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <link rel="icon" type="image/png" href="/img/adventure.png"/>

  <link rel="stylesheet" href="/css/styling.css">

</head>
<body id="body">

<div class="container-logo">
  <img class="centerlogo" height="100px" src="/img/adventure.png" alt="adventure_logo">
</div>


<div class="container">
  <div class="item1">
    <header class="header-height" id="header">
      <div class="container-header">
        <div class="item1-header">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="show-activities.html">Make a new Activities</a></li>
          </ul>
        </div>
      </div>
    </header>
  </div>


  <div class="item2">
    <div class="container-main-content">
      <div class="item-a-main-content">
        <a href="show-activities-customers.html"><img class="container-image-img1" src="/img/gocart.png"
                                                      alt="gocart"></a>
      </div>

      <div class="item-b-main-content">
        <a href="show-activities-customers.html"><img class="container-image-img2" src="/img/lasertag.png"
                                                      alt="lasertag"></a>
      </div>
      <div class="item-c-main-content">
        <a href="show-activities-customers.html"><img class="container-image-img3" src="/img/sumo.png" alt="sumo"></a>
      </div>

    </div>
  </div>

  <div class="item3">
    <footer class="footer-height" id="footer">
      <div class="container-footer">
        <div class="item-footer1">
          <ul>
            <br>
            <li>OPENING HOURS</li>
            <br>
            <li>monday 10:00 – 22:00</li>
            <li>tuesday 10:00 – 22:00</li>
            <li>wednesday 10:00 – 22:00</li>
            <li>thursday 10:00 – 22:00</li>
            <li>friday 10:00 – 0:00</li>
            <li>saturday 10:00 – 0:00</li>
            <li>sunday 10:00 – 22:00</li>
          </ul>
        </div>
        <div class="item-footer2">
          <ul>
            <li>Contact Adventure Alley</li>
            <br>
            <li>Adresse Industrivej 1</li>
            <li>9480 Løkken</li>
            <br>
            <li>Tlf. +45 70 40 43 25</li>
            <li>Email: info@actionhouse.dk</li>
          </ul>
        </div>
        <div class="item-footer3">
          <ul>
            <li><a href="#">Sponsor ansøgning</a></li>
            <li><a href="#">Tilmelding arrangementer</a></li>
            <li><a href="#">Privatlivspolitik</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Spørgsmål og svar</a></li>
            <li><a href="#">Job i Action House</a></li>
          </ul>
        </div>
        <div class="item-footer4">
          <ul>
            <li><a href="#">Facebook logo</a></li>
            <li><a href="#">Instagram logo</a></li>
            <li><a href="#">Tvitter logo</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
</div>
<script src="../js/config.js"></script>
<script src="../js/update-activity.js"></script>
<script src="../js/show-activities.js"></script>
<script src="../js/delete-activity.js"></script>
</body>
</html>



