<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/login.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<h1>You have logged in</h1>

<div class="type-1">
  <div>
    <a href="create-booking.html" class="btn btn-1">
      <span class="txt">Create booking</span>
      <span class="round"><i class="fa fa-chevron-right"></i></span>
    </a>
  </div>
</div>

<div class="type-1">
  <div>
    <a href="show-activities.html" class="btn btn-1">
      <span class="txt">Show Activities</span>
      <span class="round"><i class="fa fa-chevron-right"></i></span>
    </a>
  </div>
</div>

<div class="type-1">
  <div>
    <a href="insert-activities.html" class="btn btn-1">
      <span class="txt">Insert activities</span>
      <span class="round"><i class="fa fa-chevron-right"></i></span>
    </a>
  </div>
</div>
