<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link href="/img/adventure.png" rel="icon" type="image/png"/>
  <link href="/css/styling.css" rel="stylesheet">
  <script defer src="../js/config.js"></script>
</head>

<body id="body">
<div class="container-logo">
  <a href="index.html"> <img alt="adventure_logo" class="centerlogo" height="100px" src="/img/adventure.png"></a>
</div>


<div class="container-login">
  <div class="item-login">
    <form action="logged-in.html" class="login" id="login" method="post">
      <div class="main">
        <div class="field">
          <label for="user">Login:</label>
          <input id="user" placeholder="JohnDoe" required type="text"/>
        </div>
        <div class="field">
          <label for="password">Password:</label>
          <input class="password" id="password" placeholder="Password" required type="password"/>
        </div>
        <div class="centered-button-div">
          <button class="submit" type="submit">Continue</button>
        </div>
        <div class="centered-button-div">
          <button class="button" name="Go-back" onclick="location.href='index.html'" type="button">Go back</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="../js/config.js"></script>
</body>
</html>


