<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show activities</title>
  <!--<link href="/css/style.css" rel="stylesheet" type="text/css">-->
  <link href="/css/styling.css" rel="stylesheet" type="text/css">
  <script src="../js/config.js"></script>
</head>
<body>

<div class="container">
  <h1>Here can you see all activities now!
    <button name="Go-back" onclick="location.href='logged-in.html'">Go back</button>
  </h1>
  <table class="activity-table" id="activityTable">
    <thead>
    <tr>
      <th>Activity title</th>
      <th>Price per hour</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tr></tr>
  </table>
</div>







<script src="../js/delete-activity.js"></script>
<script src="../js/show-activities.js"></script>
<script src="../js/update-activity.js"></script>
</body>
</html>


<!--<div class="modal" id="myModal">

  <div class="modal-content">
    <span class="close">&times;</span>

    <form>
      <label for="activityTitle"></label>
      <input id="activityTitle" name="activityTitle" placeholder="Title" required type="text">
      <label for="activityPricePerHour"></label>
      <input id="activityPricePerHour" min="0" name="activityPriceOneHour" placeholder="Price Per Hour" required
             type="number">

      <button id="submitUpdate" title="Update" type="submit">Update</button>
    </form>
  </div>

</div>-->
